<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
<body>
  <div class="container">
    <% if (typeof user !== 'undefined') { %>
        <h1>Hello, <%= user.username %></h1>
        <p>Email : <%= user.email %></p>
        <p>Welcome to the home page</p>
    <% } %>
  <%- include('partials/nav') %>

  <div class="row my-3">
    <% Object.values(car).forEach(function(car){%>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="/detail/<%= car.carid%>"><img class="card-img-top" src="/uploads/<%= car.image %>" width = "200" alt ="/pic/noimage.jpg" onerror="this.onerror=null; this.src='/pic/noimage.jpg';" /></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/detail/<%= car.carid%>"><%= car.brand +' '+car.model %></a>
                    </h4>
                    <h5>ราคา <%= car.price%> บาท</h5>
                    <p class="card-text"><%= car.description %></p>
                </div>
            </div>
        </div>
    <% }) %>
  </div>
</body>
</html>
