<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
<body>
    <%# Added part %>
 <table>
   <thead>
     <tr>
        <th>Image</th>
        <th>Type of car</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Mileage</th>
        <th>Year</th>
        <th>Description</th>
        <th>Carcondition</th>
        <th>Fueltype</th>
        <th>Insurance</th>
        <th>Price</th>
        
     </tr>
   </thead>
   <tbody>
     <% car.forEach(function(car) { %> <!-- Loop through the results array -->
       <tr>
        <td>
          <% if(car.image){ %>
              <img src = "/uploads/<%= car.image %>" width = "100" />
          <% } else{ %>
            <p>No image</p>
          <% } %>

        </td>
          <td><%= car.cartype %></td>
          <td><%= car.brand %></td>
         
          <td><%= car.model %></td>
          <td><%= car.mileage %></td>
          <td><%= car.year %></td>
          <td><%= car.description %></td>
          <td><%= car.carcondition %></td>
          <td><%= car.fuel %></td>
          <td><%= car.insurance %></td>
          <td><%= car.price %></td>
          <td>
            <a href="/edit/<%= car.carid %>">edit</a>
            <a href="/delete/<%= car.carid %>" onclick ="return confirm ('Delete this car');"> Delete</a>
          </td>
          
       </tr>
     <% }); %>
   </tbody>
 </table>


    <textarea class="message-box" placeholder="Message to dealer"></textarea>
      <button class="cancel-button">Cancel</button>
      <button class="send-button">Send</button>

  </div>

</body>
</html>
