<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet"  type="text/css" href="/css/detail.css"> -->
    <title>ABC USED CAR</title>
</head>

<body>
    <header>
    <h1>ABC USED CAR</h1>
    </header>
    <nav>
        <%- include('partials/nav') %> <%# Navigation partial %>
        <a href="/productManagementHistory">View History</a>
        <a href="javascript:history.back()">Back</a> <!-- หาพวก syntax ที่กลับไปหน้าเดิม-->
        <form action="/form-search" method="get">
            <input type="text" id="search" name="productSearch" placeholder="Search Product">
            <button type="submit">Search</button>
        </form>
    </nav>


    <section>
        <table>
            <thead>
              <tr>
                 <th>Image</th>
                 
                 <th>CarID</th>
                 <th>Brand</th>
                 <th>Model</th>

                 
              </tr>
            </thead>
            <tbody>
              <% car.forEach(function(car) { %> <!-- Loop through the results array -->
                <tr>
                 <td>
                   <% if(car.image){ %>
                       <img src = "/uploads/<%= car.image %>" width = "100" />
                   <% } else{ %>
                     <p>No image</p>
                   <% } %>
         
                 </td>
                   <td><%= car.carid %></td>
                   
                   <td><%= car.brand %></td>
                  
                   <td><%= car.model %></td>
                   <td>
                     <a href="/edit/<%= car.carid %>">Edit</a>
                     <a href="/delete/<%= car.carid %>" onclick ="return confirm ('Delete this car');"> Delete</a>
                   </td>

                </tr>
              <% }); %>
            </tbody>
          </table>
    </section>



    
</body>


</html>